{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class="container d-flex flex-row">
		<div>
			<div class="allphoto d-flex flex-row">

				<div class="">
					<img src="{{ asset('/chaussure/') ~ article.image}}">
				</div>
				<div>
					<div class="">
						<img src="{{ asset('/chaussure/') ~ article.image2}}">
					</div>
					<div class="">
						<img src="{{ asset('/chaussure/') ~ article.image3}}">
					</div>
				</div>
			</div>
			<div class="article">
				<li class="puce">
					<span class="title">{{ article.name }}</span>
					<span class="tagicon {{ article.sexe}}">{{ article.sexe}}</span>
				</li>
				<li class="puce">{{ article.description}}</li>
				<li class="puce">Prix:
					{{ article.prix}}€</li>
				<li class="puce">Acheteurs convaincus:{{ article.NbrVente}}</li>
			</div>
		</div>
    </div>    
	{% endblock %}
